.divForm {
	box-shadow: 2px 4px 40px 4px $color_2;
	border-radius: 5%;
	max-width: 400px;
	margin: auto;
	padding: 5px;
	background-color: $background-color_4;

	.Form {
		width: 90%;
		max-width: 350px;
		margin: 20px;

		.inputDiv {
			width: max-content;
		}

		.inputForm {
			width: 100%;
			max-width: 250px;
			min-width: 250px;
			padding: 2px;
			margin: 10px 0px;
			transition: all .5s ease-in-out;
		}

		.inputFocus {
			&:focus {
				height: 40px;
			}
		}

		.buttonReg {
			background-image: $background-image_1 ;
			width: fit-content;
			margin: 10px 40px;
			padding: 4px;
			font-weight: 500;
			transition: all .5s ease-in-out;

			&:hover {
				background-image: radial-gradient(#85929E, #F0F3F4);
			}
		}
	}
}