.divForm {
	box-shadow: 2px 4px 40px 4px $color_2;
	border-radius: 20px;
	max-width: 400px;
	margin: auto;
	padding: 5px;
	background-color: $background-color_4;

	.Form {
		width: 90%;
		max-width: 350px;
		margin: 20px;

		label {
			color: $color_2;
		}

		.inputDiv {
			width: max-content;
		}

		.labelCheck {
			@include labelInputsFormInReg;
			font-weight: 500;
		}

		.inputForm {
			@include labelInputsFormInReg;
			@include inputButtonFormInReg;
		}

		.inputFocus {
			&:focus {
				height: 40px;
			}
		}

		.buttonReg {
			background-image: $background-image_1 ;
			width: fit-content;
			margin: 10px 40px;
			padding: 4px;
			font-weight: 500;
			@include inputButtonFormInReg;

			&:hover {
				background-image: radial-gradient(#85929E, #F0F3F4);
			}
		}
	}
}