header {
	color: $color_1;
}

.imagenLogo {
	width: 200px;
}

.nav-link {
	font-family: $font-family_1;
	color: $color_1;
	font-size: 1.2rem;
	font-weight: 400;
	margin: 5px 10px;
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
	border: 1px solid #FFFFFF;
	color: $color_1;
}

.dropdown-menu {
	min-width: 5rem;
	text-align: start;
	margin-left: 15px;
}


.dropdown-menu.show {
	background-color: $background-color_1;
	display: inline-block;
	margin-top: 0;
	transform: translateY(-10px);
}

.dropdown-item {
	color: $color_1;
	background-color: $background-color_2;
	transition: all .2s ease-in-out;

	&:hover {
		opacity: 80%;
		background-color: $background-color_2;
	}
}