@keyframes aparecer {
	0% {
		transform: perspective(800px) rotateY(-20deg);
	}

	25% {
		transform: perspective(800px) rotateY(-10deg);
	}

	50% {
		transform: perspective(800px) rotateY(0deg);
	}

	75% {
		transform: perspective(800px) rotateY(-10deg);
	}

	100% {
		transform: perspective(800px) rotateY(-20deg);
	}
}

.section3 {
	img {
		height: 40%;
		margin-top: 20px;

	}
}

.imagenPilares {
	min-width: 290px;
}

.imagenTarjeta {
	max-height: 500px;
	animation-name: aparecer;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in;
	animation-duration: 5s;
}

.imagenInversion {
	max-width: 400px;
	min-width: 250px;
}