@media (min-width:320px) and (max-width: 420px) {
	.imagenTarjeta {
		max-height: 350px;
	}

	.imagenInversion {
		max-width: 300px;
	}

	.calculator{
		div{
			div{
				div{
					form{
						div{
							select{margin: 6px;}
						}
					}
				}
			}
		}
	}
}

@media (max-width:768px) {
	.textPilares {
		span {
			display: none;
		}
	}

	.pilares {
		.d-flex {
			flex-wrap: wrap;
			justify-content: center;
		}
	}
}

@media (max-width:990px) {
	.dropdown-menu.show {
		background-color: $background-color_2;
		border: transparent;
	}
}