$color_1: #FFFFFF;
$color_2: #000;
$background-color_1: #3158A6;
$background-color_2: transparent;
$background-color_3: cornflowerblue;
$background-color_4: #9FC2CC;
$background-image_4: radial-gradient(circle,#F0F3F4 , #85929E);
$font-family_1: 'Roboto', sans-serif;
$font-family_2: 'Quicksand', sans-serif;