$color_1: #FFFFFF;
$color_2: #000;
$color_3: #033048;
$background-color_1: #3158A6;
$background-color_2: transparent;
$background-color_3: cornflowerblue;
$background-color_4: #9FC2CC;
$background-color_5: #F4F6F6;
$background-image_1: radial-gradient(circle, #F0F3F4, #85929E);
$background-image_2: radial-gradient(#85929E, #F0F3F4);
$font-family_1: 'Roboto', sans-serif;
$font-family_2: 'Quicksand', sans-serif;
