.principal {
	text-align: center;
	font-size: 40px;
	line-height: 2;
	font-weight: 700;
	margin: 50px 50px 25px 50px;
	padding: 5px;
}

.principalText {
	text-align: center;
	font-size: 1.5rem;
	line-height: 1.5;
	padding: 1%;
	margin: 2% 10%;
}

.textInBlocks {
	div {
		@include divTextInBlocks;
		background-color: $background-color_3;
		margin: 20px 20px;
		padding: 20px;
		border-radius: 4%;
		max-width: 400px;
		min-width: 200px;
	
	}

	p {
		@include parrafos;
	}
}

.textInBlocks3 {
	p {
		@include parrafos;
	}

	div {
		@include divTextInBlocks;
		background-color: $color_1;
		color: $color_2;
		margin: 10px;
		padding: 10px;
		border-radius: 5px;
		max-width: 300px;
		max-height: 300px;
		text-align: center;
	}

	h3 {
		padding: 5px;
		margin: 10px;
	}
}

.sectionMain {
	h2 {
		text-align: center;
		color: $color_1;
		font-size: 2.1rem;
		padding: 2px;
		margin: 50px 2px 10px 2px;
		line-height: 1.5;
	}
}

h3 {
	font-size: 1.1rem;
	font-weight: 800;
}

//APLICAMOS ESTILO AL CAROUSEL//

.carousel {
	width: 290px;

	div {
		div {
			div {
				background-color: $background-color_2;
			}
		}
	}

}

.carousel-caption {
	position: initial;
}

.carousel-item {
	img {
		width: 200px;
		padding-top: 30px;
	}
}

.carousel-inner {
	border-radius: 5%;
	background-image: $background-image_1
}